// Specific CSS for your home-page
body {
  background-color: beige;
 }
 h2{
 text-align: center;
 color: white;
 font-style: normal;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}